/***********************************
GENERAL
***********************************/

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

img {
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  padding: 0 1em 0;
}

.col img {
  border-radius: 4px;
}

.col {
  padding: 2.2em 0;
  font-size: 1.1rem;
}

.col p {
  margin-top: 4px;
  font-size: 1.05em;
  line-height: 1.4;
}

h2 {
  margin-bottom: 0.6em;
  font-size: 1.5em;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/***********************************
SITE HEADER
***********************************/

.main-header {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2rem;
  padding: 45px 0 40px;
  margin-bottom: 40px;
}

.logo {
  font-size: 1.8em;
  margin: 0 0 25px;
}

.logo a {
  padding: 12px 15px 2px;
}

.coffee-cup {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: -13px;
}

.main-nav a {
  display: inline-block;
  padding: 12px 15px 2px;
  transition: color 0.2s ease-in-out ;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav li {
  font-size: 1.35em;
  margin-bottom: 15px;
  display: block;
}



/***********************************
PAGE: ABOUT
***********************************/

.cafe-imaginare {
  font-weight: bold;
}



/***********************************
PAGE: MENU
***********************************/

.menu-heading {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 6px;
}

.menu-list {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}

.menu-list li {
  border-radius: 4px;
  max-width: 45%;
  margin: 2.5%;
  float: left;
}

.menu-list li:nth-child(3n) {
  clear: left;
}

.menu-list img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.menu-list p {
  margin: 0;
  padding: 5%;
  font-style: italic;
}



/***********************************
PAGE: CONTACT
***********************************/

.shop-hours {
  padding: 0;
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.7;
}

.shop-hours li {
  margin-left: 15px;
}

.contact-info {
  font-size: 1em;
  padding: 0;
}

.contact-info li {
  margin-bottom: 0.7em;
  padding: 10px 15px;
}

.map {
  max-width: 100%;
  max-height: 250px;
}

.col .address {
  font-size: 0.85em;
}


/***********************************
SITE FOOTER
***********************************/

.main-footer {
  text-align: center;
  margin-top: 150px;
  padding: 80px 1em 20px;
  font-size: 1rem;
}

.social-icon {
  width: 28px;
  height: 28px;
  margin: 0 13px 10px;
}

.main-footer p {
  margin: 0;
  font-size: 0.825em;
}



/***********************************
MEDIA QUERIES
***********************************/

@media (min-width: 30em) {

  /***********************************
  GENERAL
  ***********************************/

  .container {
    padding: 0 1.5em 0;
  }


  /***********************************
  SITE HEADER
  ***********************************/

  .main-header {
    padding-bottom: 0;
  }

  .logo {
    font-size: 2.2em;
  }

  .coffee-cup {
    width: 28px;
    height: 28px;
  }

  .main-nav {
    padding-bottom: 12px;
  }

  .main-nav li {
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 5px;
    min-width: 22%;
  }


}

@media (min-width: 48em) {

  /***********************************
  GENERAL
  ***********************************/

  .container {
    padding: 0 2em 0;
  }

  h2 {
    font-size: 1.7em;
  }



  /***********************************
  SITE HEADER
  ***********************************/

  .main-header {
    margin-bottom: 80px;
  }

  .main-nav {
    margin-top: 50px;
  }

  .logo {
    font-size: 2.7em;
    padding-top: 0.875em;
  }

  .coffee-cup {
    width: 34px;
    height: 34px;
  }

  .main-nav li {
    font-size: 1.6em;
    min-width: 21%;
  }



  /***********************************
  PAGE: HOME
  ***********************************/

  .col {
    float: left;
    max-width: 45%;
    margin: 2.5%;
    padding: 0;
  }

  .tertiary {
    clear: left;
  }



  /***********************************
  PAGE: ABOUT
  ***********************************/

  .bio-col {
    clear: both;
    max-width: 100%;
  }

  .bio-heading {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .bio-fl {
    float: left;
    max-width: 42%;
    margin: 2.5%;
  }

  .bio-fr {
    float: right;
    max-width: 48%;
    margin: 11% 2.5% 2.5%;
  }

  .bio-fr p {
    line-height: 1.6;
    margin: 0;
  }

  /***********************************
  PAGE: MENU
  ***********************************/

  .menu-1,
  .menu-2,
  .menu-3,
  .menu-4 {
    clear: both;
    max-width: 100%;
    margin: 3.5em 0;
  }

  .menu-list p {
    font-size: 1.2em;
  }



  /***********************************
  PAGE: CONTACT
  ***********************************/

  .store-hours-col {
    width: 60%;
  }

  .contact-info-col {
    width: 40%;
  }

  .map-col {
    clear: both;
    max-width: 100%;
    margin-top: 100px;
  }



  /***********************************
  SITE FOOTER
  ***********************************/

  .main-footer {
    margin-top: 300px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

}

@media (min-width: 64em) {

  /***********************************
  GENERAL
  ***********************************/

  .col {
    font-size: 1.3em;
  }

  .container {
    padding: 0 2.65em 0;
  }


  /***********************************
  SITE HEADER
  ***********************************/

  .main-header {
    font-size: 1.7rem;
    margin-bottom: 5em;
    padding-bottom: 0;
    letter-spacing: 5px;
  }

  .logo {
    margin-bottom: 1.5em;
    padding-top: 1em;
  }

  .coffee-cup {
    width: 46px;
    height: 46px;
  }

  .main-nav {
    padding-bottom: 0;
  }

  .main-nav li {
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  .main-nav .b-link {
    border-bottom: none;
  }



  /***********************************
  PAGE: MENU
  ***********************************/

  .menu-heading {
    /*border-bottom: none;*/
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
  }

  .menu-list p {
    font-size: 1.35em;
  }

  /***********************************
  PAGE: CONTACT
  ***********************************/

  .map {
    min-height: 400px;
  }



  /***********************************
  SITE FOOTER
  ***********************************/

  .main-footer {
    padding-top: 140px;
  }

  .main-footer p {
    padding-top: 2.1em;
    padding-left: 2.65em;
    padding-right: 2.65em;
    padding-bottom: 1em;
    font-size: 0.9em;
  }

  .social-icon {
    width: 34px;
    height: 34px;
    margin-right: 2.5em;
    margin-left: 2.5em;
  }

}



/***********************************
COLORS
***********************************/

/* General Colors */
body {
  color: #777;
}

a:link,
a:visited {
  color: #d49d6e;
}

a:hover,
li a.selected {
  color: #5b3615;
}

h2 {
  color: #5b3615;
  border-bottom: 1px solid #5b3615;
}

/* Header Colors */
.main-header {
  background-color: rgba(242, 229, 84, 0.65);
}

.logo a {
  color: #5b3615;
}

.main-nav a {
  border-bottom: 1px solid #5b3615;
}

/* Page: About */
a.cafe-imaginare {
  color: #5b3615;
}

/* Page: Menu */
.menu-list li {
  background-color: rgba(242, 229, 84, 0.65);
}

/* Footer Colors */
.main-footer {
  background-color: rgba(242, 229, 84, 0.65);
}
