/***********************************
GENERAL
***********************************/

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

.container {
  padding: 0 1em 0;
}



/***********************************
SITE HEADER
***********************************/

.main-header {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2rem;
  padding: 45px 0 40px;
}

.logo {
  font-size: 2em;
  margin: 0 0 10px;
}

.logo a {
  padding: 12px 15px 2px;
}

.main-nav a {
  display: inline-block;
  padding: 12px 15px 2px;
  transition: color 0.2s ease-in-out ;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav li {
  font-size: 1.4em;
  margin-bottom: 15px;
  display: block;
}



/***********************************
PAGE: HOME
***********************************/

.col {
  padding-top: 2.5em;
}

.col p {
  margin-top: 4px;
}



/***********************************
SITE FOOTER
***********************************/

.main-footer {
  text-align: center;
  margin-top: 150px;
  padding: 50px 0 20px;
}

.main-footer p {
  margin: 0;
}


/***********************************
COLORS
***********************************/

/* General Colors */
body {
  color: #7dd567;
}

a:link, a:visited {
  color: #d49d6e;
}

a:hover, a:active {
  color: #5b3615;
}

/* Header Colors */

.main-header {
  background-color: #e6d0bc;
}

.logo a {
  color: #5b3615;
}

.main-nav a {
  border-bottom: 1px solid #5b3615;
}

/* Footer Colors */

.main-footer {
  background-color: #e6d0bc;
}

.main-footer p {
  color: #d49d6e;
}
